name: Android CI

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - '!*-RuStore'

permissions:
  contents: write

env:
  KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
  RELEASE_SIGN_KEY_ALIAS: ${{ secrets.RELEASE_SIGN_KEY_ALIAS }}
  RELEASE_SIGN_KEY_PASSWORD: ${{ secrets.RELEASE_SIGN_KEY_PASSWORD }}

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: gradle
    - name: Checkout keystore repo
      uses: actions/checkout@v3
      with:
        repository: ${{ secrets.KEYSTORE_GIT_REPOSITORY }}
        token: ${{ secrets.KEYSTORE_ACCESS_TOKEN }}
        path: app/keystore
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
         ./gradlew assembleRelease  --stacktrace
         ./gradlew bundleRelease
    - name: Release to RuStore
      run: |
        curl --location --request POST 'https://public-api.rustore.ru/public/v1/application/top.rootu.lampa/version/`git rev-list --count origin/main`/apk?servicesType=Unknown&isMainApk=true' --header 'Public-Token: ${{ secrets.RUSTORE_TOKEN }}' --form 'file=@"./app/build/outputs/apk/ruStore/release/app-ruStore-release.apk"'
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: app/build/outputs/apk/lite/release/app-lite-release.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
